<div class="container">
<%= render 'shared/errors_users' %>  
<%= form_with model: @user, class: "shadow p-3 mb-3 bg-info rounded", local: true do |form| %>
 
    <div class="row justify-content-center">
    <div class="col-10">
      <div class="form-group row">
        <%= form.label :username, class:"col-sm-2 col-form-label text-light" %>
        <div class="col-10">
        <%= form.text_field :username, class: "form-control shadow rounded ", placeholder: "Enter a UserName" %>
        </div>
      </div>
    
      <div class="form-group row">
        <%= form.label :Email, class:"col-sm-2 col-form-label text-light" %>
        <div class="col-10">
        <%= form.email_field :email, class: "form-control shadow rounded",placeholder: "Enter your Email" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :password, class:"col-sm-2 col-form-label text-light" %>
        <div class="col-10">
        <%= form.password_field :password, class: "form-control shadow rounded",placeholder: "Choose a password" %>
        </div>
      </div>
    
      <div class="form-group row justify-content-center">
        <%= form.submit "Sign up",  class: "btn btn-outline-light btn-lg" %>
      </div>
    
    <% end %>
  
    <%= link_to 'Back', articles_path, class: "text-white" %>
   
    </div>
  </div>
 </div>